.header{
    background-image: url(../../dist/img/images/yinyue_bg.jpg);
    height: 120px;
    width: 100%;
    >img{
        float: left;
    }
    .header-nav{
        list-style: none;
        float: right;
        padding: 0;
        margin: 0;
        .header-nav-li{
            float: left;
            color: white;
            font-size: 16px;
            line-height: 25px;
            padding: 47px 10px 30px 10px;
            position:relative;
            height: 25px;
            
            >a{
                display: inline-block;
                line-height: 25px;
                >span{
                    display: inline-block;
                    height: 25px;
                    width: 25px;
                    float: left;
                }
                >h3{
                    list-style: none;
                    margin: 0;
                    float: left;
                    font-size: 16px;
                }   
            }
            .header-nav-li-drop-down{
                list-style: none;
                padding: 0;
                margin: 0;
                background-color: #2c1c40;
            
                display: none;
                position: absolute;
                top: 50px;
                left:10px;
                z-index: 1;
                
                top:90px;
                >li{
                    padding: 5px 30px 5px 10px;
                    height: 25px;
                    width: 70px;
                    text-align: center;
                    &:hover{
                        background-color: deepskyblue;
                        transition: background-color 0.5s;
                        padding-left: 30px;
                        padding-right: 10px;
                    }
                    &:hover:after{
                        content: url(../../dist/img/images/nav_li_bg.png);
                        float: right;
                    }
                } 
            }
    }   }
}
.public{
    width: 1080px;
    margin: 0 auto;
}
a,a:link,a:visited{
    text-decoration: none;
    color: inherit;
}
.clear{
    clear: both;
}
