@import "norama";
@import "header";
.banner{
    width: 100%;
    position: relative;
    >img{
       width: 100%; 
       display: block;
       
    }
        .banner-bottom{
            width: 220px;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            margin-left: -110px;
            bottom: 30px;
            .banner-bottom-left{
                float: left; 
            }
            .banner-bottom-right{
                float: right;
            }
            .banner-bottom-center{
                border-radius:10px ;
                height: 15px;
                width: 48px;
                border: 1px solid #e7e5ce;
                float: left;
                margin-left: 55px;
                margin-top: 6px;
                .banner-bottom-center-circular{
                    span{
                        display: block;
                        height: 10px;
                        width: 10px;
                        border-radius: 100%;
                        border: 1px solid navajowhite;
                        float: left;
                        margin-left: 3px;
                        margin-top: 2px;
                        background-color: white;
                        &:first-child{
                            background-color: blue;
                        }
                    }
                }
            }
        }
    
    
}
.main{
    width: 100%;
    background-color: #f1f2f6;
    .main-head{
        margin: 0 auto;
        width: 58px;
        height:58px;
        padding-top: 50px;
    }
    .main-title{
        margin: 0 auto;
        width: 120px;
        text-align: center;
        padding-top: 40px;
        
        >h3{
            list-style: none;
            color: #2f1948;
            font-size: 24px;
            padding: 0;
            margin: 0;
            letter-spacing: 4px;
        }
        >p{
            list-style: none;
            padding: 0;
            margin: 0;
            color: #2f1948;
            font-size: 14px;
        }
        >div{
            width: 50px;
            margin: 0 auto;
            padding-top: 10px;
            >span{
              display: block; 
              height: 10px;
              width: 10px;
              border-radius: 100%;
              background-color: #8db5d9; 
              float: left;
              margin-left: 5px;
              
            }
        }
    }
    .main-text{
        padding-top: 50px;
        .main-text-left{
            width: 370px;
            float: left;
            padding: 0 30px;
        }
        .main-bottom-right{
            float: left;
            width: 600px;
            .main-bottom-right-head{
       
               
                >span{
                    color: #614d66;
                    font-size: 18px;
                    display:block;
                    float: left;
                    
                }
                .pen{
                    float: right;
                }
                .pen-line{
                    float: left;
                }
            }
            .main-bottom-right-main{
                padding-top: 20px;
                >img{
                    float: left;
                    padding-top: 20px;
                }
                .main-bottom-right-main-text{
                    float: right;
                    width: 450px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .main-bottom-right-center{
                padding: 30px 0;
                .main-bottom-right-center-left{
                    float: left;
                }
                .main-bottom-right-center-right{
                    float: right;
                }
                .line{
                    width: 540px;
                    height: 0px;
                    border-bottom: 1px dashed red;
                    margin-left: 30px;
                    padding-bottom: 14px;
                }
            }
            .main-bottom-right-bottom{
                p{
                    font-size: 14px;
                    margin: 0;
                    line-height: 22px;
                }
            }
            .main-bottom-right-img{
                height: 60px;
                width: 100%;
                padding-top:20px ;
                line-height: 60px;
                .Quotes-left{
                    float: right;
                    padding-top: 40px;
                }
                .Quotes-right{
                    float: right;
                    
                }
                >span{
                    float: right;
                }
            }
        }
    }
}

